# Xilinx Vivado
*.cache
*.hw
*.ip_user_files
*.runs
*.sim
*.srcs
*.Xil
*.xpr
webtalk.*

# IceStorm
*yosys.log
*.bin
*.rpt

# Verilator
obj_dir

# cocotb
results*.xml
sim_build*
__pycache__
*.vcd

# Mac
.DS_Store
