## Project F: Exploring FPGA Graphics: iCEBreaker Board Constraints (VGA)
## (C)2020 Will Green, Open source hardware released under the MIT License
## Learn more at https://projectf.io/posts/fpga-graphics/

## Master Clock: 12 MHz clock
set_io -nowarn clk_12m      35

## Buttons
set_io -nowarn btn_rst      10

## 12-bit Pmod VGA on Pmod 1A/1B
set_io -nowarn vga_hsync    42
set_io -nowarn vga_vsync    36
set_io -nowarn vga_r0        4
set_io -nowarn vga_r1        2
set_io -nowarn vga_r2       47
set_io -nowarn vga_r3       45
set_io -nowarn vga_b0        3
set_io -nowarn vga_b1       48
set_io -nowarn vga_b2       46
set_io -nowarn vga_b3       44
set_io -nowarn vga_g0       43
set_io -nowarn vga_g1       38
set_io -nowarn vga_g2       34
set_io -nowarn vga_g3       31
